<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" [(opened)]="opened" #drawer (click)="closeDrawer()">
    <app-menu></app-menu>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button class="toogle-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>KLG invoice generator</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container> -->

<app-main-nav></app-main-nav>